<div class="masthead clearfix">
  <div class="inner">
    <%= link_to "Joe Quattrone", root_path, class: "masthead-brand", id: "masthead-name" %>
    <nav class="nav nav-masthead">
      <%= nav_helper('nav-link', 'span') %>
      <%= login_helper("nav-link") %>
    </nav>
  </div>
</div>
