<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>Learning is not my destination, but it is my journey.</p>
  </div>

  <div class="sidebar-module">
    <h4>Socials</h4>
    <ol class="list-unstyled social-links">
      <li><a href="https://github.com/JoeQuattrone" target="_blank"><%= fa_icon "github" %></a></li>
      <li><a href="https://www.facebook.com/joe.quattrone.7" target="_blank"><%= fa_icon "facebook" %></a></li>
    </ol>
  </div>
</div>
