<div class="blog-masthead">
  <div class="container">
    <nav class="nav blog-nav">
      <%= link_to "Joe Quattrone", root_path, class: 'nav-link', id: 'name' %>
      <%= nav_helper('nav-link', 'span') %>
      <%= login_helper 'nav-link' %>
  </div>
</div>
