<h1>About Me</h1>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "me.jpg", width: 250, alt: "profile image" %>
  </div>

  <div class="col-md-8">
    <p>Recieved my degree in Finance from Towson University in December, 2017, but my passion for creating led me to programming. I love to create professional websites for small mid size companies. I use my understanding of business to create results focused websites that present a brand in their best light<</p>
  </div>
</div>
