<h1>About Me</h1>
<p>Recieved my degree in Finance from Towson University in December, 2017, but my passion for creating led me to programming. I love to create professional websites for small mid size companies. I use my understanding of business to create results focused websites that present a brand in their best light<</p>
