@import "bootstrap";
@import 'font-awesome';
@import 'jquery-ui';

body {
  min-height: 75rem; /* Can be removed; just added for demo purposes */
}


.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


.navbar {
  margin-bottom: 0;
  background-color: rgb(52,58,63);
}

.bg-inverse {
  background-color: rgb(52,58,63)
}

.navbar-toggler {
  height: 50px;
  width: 70px;
  border: solid .7px rgb(73, 78, 83);
  display: inline-block;
  vertical-align:middle;
  padding: 0px, 2px;
}

.navbar-toggler .collapsed {
  height: 50px;
  width: 70px;
  display: inline-block;
  vertical-align:middle;
}

.navbar-toggler-icon {
  display: block;
  padding: 0px;
  width: 30px;
  height: 2.5px;
  background-color: rgb(154, 157, 159);
  border-radius: 1px;
  margin-bottom: 5.5px;
  margin-left: 7px;



}

#hamburger {
  padding-bottom: 0;
  padding-top: 0;
}
#last {
}

#first {
  margin-top: 3.5px;
}

.navbar-brand {
  color: #fff;
  font-size:  2.0em;
  font-weight: 300;
}
.fa-bars {
  color: white;
}

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
  font-size: 3.5em;
}

.jumbotron .container {
  max-width: 40rem;
}

.album {
  min-height: 50rem; /* Can be removed; just added for demo purposes */
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}

.card {
  float: left;
  width: 33.333%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}

.card > img {
  margin-bottom: .75rem;
}

.card-text {
  font-size: 85%;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}


.card {
  float: left;
  width: 33.333%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}

.card > img {
  margin-bottom: .75rem;
}

.card-text {
  font-size: 85%;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

/*
---------Custom Styles---------
*/

.text-muted {
  font-size: 20px;
  font-weight: 300;
}

h4 {
  font-size: 2em;
}

a {
  font-size: 20px;
}

.jumbotron-heading {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}
#primary-port-btn {
  background: rgb(2, 117, 86);
  background-image: none;
  border: solid 1px rgb(2, 117, 86);
}
.port-btn {
  font-size: 18px;
  font-weight: 300;
}

#primary-port-btn:not(:disabled):not(.disabled):active:focus, #primary-port-btn:not(:disabled):not(.disabled).active:focus,
.show > #primary-port-btn.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(2, 117, 86, 0.5);
}

#primary-port-btn:focus, #primary-port-btn.focus {
  box-shadow: 0 0 0 0.2rem rgba(2, 117, 86, 0.5);
}

hr {
border: solid 1px #ddd;
}

#port-footer {
  font-size: 16px;
}

.port-form {
  padding: 20px;
}
